@*

*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>AirModel E-Shop - Find your favourite</title>
    <meta name="keywords" content="HTML5 Template">
    <meta name="description" content="Molla - Bootstrap eCommerce Template">
    <meta name="author" content="p-themes">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="~/images/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/images/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/images/icons/favicon-16x16.png">
    <link rel="manifest" href="~/images/icons/site.html">
    <link rel="mask-icon" href="~/images/icons/safari-pinned-tab.svg" color="#666666">
    <link rel="shortcut icon" href="~/images/icons/favicon.ico">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <meta name="apple-mobile-web-app-title" content="Molla">
    <meta name="application-name" content="Molla">
    <meta name="msapplication-TileColor" content="#cc9966">
    <meta name="msapplication-config" content="~/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="~/css/line-awesome.min.css">
    <!-- Plugins CSS File -->
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/plugins/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="~/css/plugins/magnific-popup/magnific-popup.css">
    <link rel="stylesheet" href="~/css/plugins/jquery.countdown.css">
    <!-- Main CSS File -->
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/skins/skin-demo-2.css">
    <link rel="stylesheet" href="~/css/demos/demo-2.css">
</head>
<body id="bodyId">
    <div style="position: fixed;
    top: 50%;
    left: 50%;
    width: 75px;
    height: 75px;
    z-index: 1000;" class="spinner-grow text-primary" id="loaderId" role="status">
        <span class="sr-only">Loading...</span>
    </div>
    <div id="headId" style="min-height:auto;" class="page-wrapper">
        <header class="header header-2 header-intro-clearance">
            <div class="header-middle">
                <div class="container">
                    <div class="header-left">
                        <button class="mobile-menu-toggler">
                            <span class="sr-only">Toggle mobile menu</span>
                            <i class="icon-bars"></i>
                        </button>
                        <button onclick="location.href = '@Url.Action("Index", "Home")'" type="submit" style="all: unset;">
                            <a class="logo">
                                <img src="~/images/logo.jpg" alt="AirModel Logo" width="105" height="25">
                            </a>
                        </button>
                    </div><!-- End .header-left -->

                    <div class="header-center">
                        <div class="header-search header-search-extended header-search-visible header-search-no-radius d-none d-lg-block">
                            <a href="#" class="search-toggle" role="button"><i class="icon-search"></i></a>
                            <form action="#" method="get">
                                <div class="header-search-wrapper search-wrapper-wide">
                                    <label for="q" class="sr-only">Search</label>
                                    <input type="search" class="form-control" name="q" id="searchInputField" value="" placeholder="Search product ...">
                                    <button id="searchId" class="btn btn-primary" type="submit"><i class="icon-search"></i></button>
                                </div><!-- End .header-search-wrapper -->
                            </form>
                        </div><!-- End .header-search -->
                    </div>

                    <div class="header-right">
                        @{
                            if (@ViewBag.cartModels != null)
                            {
                                <div class="dropdown cart-dropdown">
                                    <a href="#" class="dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" data-display="static">
                                        <div class="icon">
                                            <i class="icon-shopping-cart"></i>
                                            <span class="cart-count">@ViewBag.len</span>
                                        </div>
                                        <p>Cart</p>
                                    </a>

                                    <div class="dropdown-menu dropdown-menu-right">
                                        <div class="dropdown-cart-products">
                                            @foreach (var cartItem in @ViewBag.cartModels)
                                            {
                                                <div class="product">
                                                    <div class="product-cart-details">
                                                        <h4 class="product-title">
                                                            <a>@cartItem.products.productName</a>
                                                        </h4>

                                                        <span class="cart-product-info">
                                                            @{
                                                                <div>
                                                                    <span class="cart-product-qty">Item Qty: @cartItem.qty</span>
                                                                </div>
                                                                <div>
                                                                    <span class="cart-product-qty">Item Total: @cartItem.total</span>
                                                                </div>
                                                                <div>
                                                                    <span class="cart-product-qty">Item Additional Cost: @cartItem.additionalCost</span>
                                                                </div>
                                                            }
                                                        </span>
                                                    </div><!-- End .product-cart-details -->

                                                    <figure class="product-image-container">
                                                        <a class="product-image">
                                                            @{
                                                                if (@cartItem.varientOptionId == null)
                                                                {
                                                                    <img src="@cartItem.products.productImage" alt="product">

                                                                }
                                                                else
                                                                {
                                                                    <img src="@cartItem.varientOption.varientImage" alt="product">

                                                                }
                                                            }
                                                        </a>
                                                    </figure>
                                                    <form method="post" asp-controller="Home" asp-action="RemoveFromCart">
                                                        <input type="text" style="display: none" class="form-control" name="cartItemId" value="@cartItem.cartItemId">

                                                        <button type="submit" style="all: unset;">
                                                            <a class="btn-remove" title="Remove Product"><i class="icon-close"></i></a>
                                                        </button>
                                                    </form>
                                                </div>
                                            }
                                        </div><!-- End .cart-product -->

                                        <div class="dropdown-cart-total">
                                            <span>Total</span>

                                            <span class="cart-total-price">$@ViewBag.total</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-total" style="font-size: 13px;">
                                            <span style="font-size: 13px;">Total Additional Cost</span>

                                            <span style="font-size: 13px;" class="cart-total-price">$@ViewBag.additational</span>
                                        </div><!-- End .dropdown-cart-total -->

                                        <div class="dropdown-cart-action">
                                            <form method="post" asp-controller="Home" asp-action="LoadCheckOutView">
                                                <button type="submit" style="all: unset;">
                                                    <a class="btn btn-outline-primary-2"><span>Checkout</span><i class="icon-long-arrow-right"></i></a>
                                                </button>
                                            </form>
                                        </div><!-- End .dropdown-cart-total -->
                                    </div><!-- End .dropdown-menu -->
                                </div>

                                <!-- End .cart-dropdown -->
                            }
                        }

                        <div class="account">
                            <a class="ml-3" asp-controller="Home" asp-action="GetAllMyOrdera" title="GetAllMyOrdera">
                                <div class="icon">
                                    <i class="icon-turkish-lira"></i>
                                </div>
                                <p>My Orders</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                        <div class="account">
                            <a class="ml-3" asp-controller="Home" asp-action="OpenEditUser" title="Profile">
                                <div class="icon">
                                    <i class="icon-user"></i>
                                </div>
                                <p>My Profile</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                        <div class="account">
                            <a class="ml-3" asp-controller="Home" asp-action="Logout" title="Logout">
                                <div class="icon">
                                    <i class="icon-unlock"></i>
                                </div>
                                <p>Logout</p>
                            </a>
                        </div><!-- End .compare-dropdown -->
                    </div><!-- End .header-right -->
                </div><!-- End .container -->
            </div><!-- End .header-middle -->

            <div class="header-bottom sticky-header">
                <div class="container">
                    <div class="header-left">
                    </div><!-- End .header-left -->

                </div><!-- End .container -->
            </div><!-- End .header-bottom -->
        </header><!-- End .header -->
    </div>

    <main class="main">
        <div class="page-header text-center" style="background-image: url('assets/images/page-header-bg.jpg')">
            <div class="container">
                <h1 class="page-title">Checkout<span>Shop</span></h1>
            </div><!-- End .container -->
        </div><!-- End .page-header -->

        <div class="page-content">
            <div class="checkout">
                <div class="container">
                    <div class="checkout-discount">
                    </div><!-- End .checkout-discount -->
                    <form method="post" onsubmit="return false">
                        <div class="row">
                            <div class="col-lg-9">
                                <h2 class="checkout-title">Billing Details</h2><!-- End .checkout-title -->
                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>First Name *</label>
                                        <input name="fName" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->

                                    <div class="col-sm-6">
                                        <label>Last Name *</label>
                                        <input name="lName" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Country *</label>
                                <input name="county" type="text" class="form-control" required>

                                <label>Street address *</label>
                                <input name="street" type="text" class="form-control" placeholder="House number and Street name" required>
                                <input name="houseNo" type="text" class="form-control" placeholder="Appartments, suite, unit etc ..." required>

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Town / City *</label>
                                        <input name="city" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Phone number *</label>
                                        <input type="number" id="phone" name="phoneNumber" class="form-control" pattern="[0-9]{10}" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <div class="row">
                                    <div class="col-sm-6">
                                        <label>Postcode / ZIP *</label>
                                        <input name="postCode" type="text" class="form-control" required>
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->

                                <label>Order notes (optional)</label>
                                <textarea name="orderNote" class="form-control" cols="30" rows="4" placeholder="Notes about your order, e.g. special notes for delivery"></textarea>
                            </div><!-- End .col-lg-9 -->
                            <aside class="col-lg-3">
                                <div class="summary">
                                    <h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

                                    <table class="table table-summary">
                                        <thead>
                                            <tr>
                                                <th>Product</th>
                                                <th>Total</th>
                                            </tr>
                                        </thead>

                                        <tbody>
                                            @{
                                                @foreach (var cartItem in @ViewBag.cartModels)
                                                {
                                                    <tr>
                                                        <td><a href="#">@cartItem.products.productName x @cartItem.qty</a></td>
                                                        <td>
                                                            <span class="cart-product-qty">$@cartItem.total</span>
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                            <tr class="summary-total">
                                                <td style="font-size: 13px;">Additional Cost:</td>
                                                <td style="font-size: 13px;">$@ViewBag.additational</td>
                                            </tr><!-- End .summary-total -->

                                            <tr class="summary-total">
                                                <td>Total:</td>
                                                <td>$@ViewBag.total</td>
                                            </tr><!-- End .summary-total -->
                                  
                                        </tbody>
                                    </table><!-- End .table table-summary -->

                                    <div class="accordion-summary" id="accordion-payment">

                                        <div class="card">
                                            <div class="card-header" id="heading-3">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
                                                        Cash on delivery
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Quisque volutpat mattis eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->

                                        <div class="card">
                                            <div class="card-header" id="heading-5">
                                                <h2 class="card-title">
                                                    <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-5" aria-expanded="false" aria-controls="collapse-5">
                                                        Credit Card (PayHere)
                                                    </a>
                                                </h2>
                                            </div><!-- End .card-header -->
                                            <div id="collapse-5" class="collapse" aria-labelledby="heading-5" data-parent="#accordion-payment">
                                                <div class="card-body">
                                                    Donec nec justo eget felis facilisis fermentum.Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Lorem ipsum dolor sit ame.
                                                </div><!-- End .card-body -->
                                            </div><!-- End .collapse -->
                                        </div><!-- End .card -->
                                    </div><!-- End .accordion -->
                                    <button type="submit" id="placeOrder" class="btn btn-outline-primary-2 btn-order btn-block">
                                        <span class="btn-text">Place Order</span>
                                        <span class="btn-hover-text">Proceed to Checkout</span>
                                    </button>
                                </div><!-- End .summary -->
                            </aside><!-- End .col-lg-3 -->
                        </div><!-- End .row -->
                    </form>

                </div><!-- End .container -->
            </div><!-- End .checkout -->
     
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <footer class="footer footer-2">
        <div class="icon-boxes-container">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rocket"></i>
                            </span>
                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Shipping</h3><!-- End .icon-box-title -->
                                <p>orders $50 or more</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-rotate-left"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Free Returns</h3><!-- End .icon-box-title -->
                                <p>within 30 days</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-info-circle"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">Get 20% Off 1 Item</h3><!-- End .icon-box-title -->
                                <p>When you sign up</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->

                    <div class="col-sm-6 col-lg-3">
                        <div class="icon-box icon-box-side">
                            <span class="icon-box-icon text-dark">
                                <i class="icon-life-ring"></i>
                            </span>

                            <div class="icon-box-content">
                                <h3 class="icon-box-title">We Support</h3><!-- End .icon-box-title -->
                                <p>24/7 amazing services</p>
                            </div><!-- End .icon-box-content -->
                        </div><!-- End .icon-box -->
                    </div><!-- End .col-sm-6 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .icon-boxes-container -->

        <div class="footer-middle">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-lg-6">
                        <div class="widget widget-about">
                            <img src="~/images/logo.jpg" class="footer-logo" alt="Footer Logo" width="105" height="25">
                            <p>Praesent dapibus, neque id cursus ucibus, tortor neque egestas augue, eu vulputate magna eros eu erat. Aliquam erat volutpat. Nam dui mi, tincidunt quis, accumsan porttitor, facilisis luctus, metus. </p>

                            <div class="widget-about-info">
                                <div class="row">
                                    <div class="col-sm-6 col-md-4">
                                        <span class="widget-about-title">Got Question? Call us 24/7</span>
                                        <a href="tel:123456789">+0123 456 789</a>
                                    </div><!-- End .col-sm-6 -->
                                    <div class="col-sm-6 col-md-8">
                                        <span class="widget-about-title">Payment Method</span>
                                        <figure class="footer-payments">
                                            <img src="~/images/payments.png" alt="Payment methods" width="272" height="20">
                                        </figure><!-- End .footer-payments -->
                                    </div><!-- End .col-sm-6 -->
                                </div><!-- End .row -->
                            </div><!-- End .widget-about-info -->
                        </div><!-- End .widget about-widget -->
                    </div><!-- End .col-sm-12 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Information</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="about.html">About Molla</a></li>
                                <li><a href="#">How to shop on Molla</a></li>
                                <li><a href="#">FAQ</a></li>
                                <li><a href="contact.html">Contact us</a></li>
                                <li><a href="login.html">Log in</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">Customer Service</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Payment Methods</a></li>
                                <li><a href="#">Money-back guarantee!</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Shipping</a></li>
                                <li><a href="#">Terms and conditions</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-4 col-lg-3 -->

                    <div class="col-sm-4 col-lg-2">
                        <div class="widget">
                            <h4 class="widget-title">My Account</h4><!-- End .widget-title -->

                            <ul class="widget-list">
                                <li><a href="#">Sign In</a></li>
                                <li><a href="cart.html">View Cart</a></li>
                                <li><a href="#">My Wishlist</a></li>
                                <li><a href="#">Track My Order</a></li>
                                <li><a href="#">Help</a></li>
                            </ul><!-- End .widget-list -->
                        </div><!-- End .widget -->
                    </div><!-- End .col-sm-64 col-lg-3 -->
                </div><!-- End .row -->
            </div><!-- End .container -->
        </div><!-- End .footer-middle -->

        <div class="footer-bottom">
            <div class="container">
                <p class="footer-copyright">Copyright © 2019 Molla Store. All Rights Reserved.</p><!-- End .footer-copyright -->
                <ul class="footer-menu">
                    <li><a href="#">Terms Of Use</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul><!-- End .footer-menu -->
            </div><!-- End .container -->
        </div><!-- End .footer-bottom -->
    </footer><!-- End .footer -->
    <!-- Plugins JS File -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/jquery.hoverIntent.min.js"></script>
    <script src="~/js/jquery.waypoints.min.js"></script>
    <script src="~/js/superfish.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.plugin.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/jquery.countdown.min.js"></script>
    <!-- Main JS File -->
    <script src="~/js/main.js"></script>
    <script src="~/js/demos/demo-2.js"></script>

    <script src="https://www.payhere.lk/lib/payhere.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uuid@8.3.2/dist/umd/uuidv4.min.js"></script>
    <script>
        document.getElementById('loaderId').style.visibility = "hidden";
        function md5(str) {
            let md5Hash = CryptoJS.MD5(str);
            return md5Hash.toString().toUpperCase();
        }

        // Function to format the number with 2 decimal places
        function number_format(amount) {
            return amount.toFixed(2);
        }

        // Main function to calculate the hash
        function calculateHash(
            merchant_id,
            order_id,
            amount,
            currency,
            merchant_secret
        ) {
            // Formatting the amount with 2 decimal places
            amount = number_format(amount);

            // Creating the hash string
            let hashString =
                merchant_id + order_id + amount + currency + md5(merchant_secret);

            // Calculating the MD5 hash
            let hash = md5(hashString);

            return hash

        }

        function isNullOrEmpty(value) {
            return value === null || value.trim() === '';
        }

        // Payment window closed
        payhere.onDismissed = function onDismissed() {
            window.location = "/Home/LoadCheckOutView";
        };

        // Error occurred
        payhere.onError = function onError(error) {
            window.location = "/Home/LoadCheckOutView";
        };

        // Show the payhere.js popup, when "PayHere Pay" is clicked
        document.getElementById('placeOrder').onclick = async function (e) {
            var merchant_id = "1223597";
            var order_id = uuidv4();
            var currency = "LKR";
            var amount = @ViewBag.total
            var merchant_secret =
                "MzA3MjI0NjQyODE0NzA3NzA2ODIzOTkzMjA3MzQ5MTM2ODU3OTYwMA==";

            let hash = calculateHash(
                merchant_id,
                order_id,
                amount,
                currency,
                merchant_secret
            );

            var payment = {
                "sandbox": true,
                "merchant_id": merchant_id,    // Replace your Merchant ID
                "return_url": "http://localhost:7116/",   // Important
                "cancel_url": "http://localhost:7116/",    // Important
                "notify_url": "http://localhost:7116/",
                "hash": hash,
                "order_id": order_id,
                "items": "AirPlane.net - web market",
                "amount": amount,
                "currency": currency,
                "first_name": "Pasindu",
                "last_name": "Eranga",
                "email": "pasindu@gmail.com",
                "phone": "0775707306",
                "address": "No 602, Moragala, Pilana, Wanchawala",
                "city": "Colombo",
                "country": "Sri Lanka"
            };


            var fName = document.getElementsByName('fName')[0].value;
            var lName = document.getElementsByName('lName')[0].value;
            var orderNote = document.getElementsByName('orderNote')[0].value;
            var county = document.getElementsByName('county')[0].value;
            var street = document.getElementsByName('street')[0].value;
            var houseNo = document.getElementsByName('houseNo')[0].value;
            var city = document.getElementsByName('city')[0].value;
            var postCode = document.getElementsByName('postCode')[0].value;
            var phoneNumber = document.getElementsByName('phoneNumber')[0].value;

            // Payment completed. It can be a successful failure.
            payhere.onCompleted = function onCompleted(orderId) {
                $.post("@Url.Action("PlaceOrder","UserOrder")", {
                    fName: fName, lName: lName, orderNote: orderNote, county: county, street: street, houseNo: houseNo, city: city,
                    postCode: postCode, phoneNumber: phoneNumber
                }).done(function (data) {
                    window.location = "/Home/Index";
                });
            };

            if (isNullOrEmpty(fName) || isNullOrEmpty(lName) || isNullOrEmpty(county) ||
                isNullOrEmpty(street) || isNullOrEmpty(houseNo) || isNullOrEmpty(city) || isNullOrEmpty(postCode) ||
                isNullOrEmpty(phoneNumber)) {

            } else {
                if(amount > 0) {
                    document.getElementById('loaderId').style.visibility = "visible";
                    payhere.startPayment(payment);
                }
            }

        };</script>
</body>
</html>